{{ if .Values.persistent_volume_enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo2s3-workdir
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{{- end }}