{{- if .Values.secretEnv }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secretEnv }}
type: Opaque
stringData:
  S3_ACCESS_KEY: {{ .Values.config.s3_access_key | required "provide config.s3_access_key key when running helm" | quote }}
  S3_SECRET_KEY: {{ .Values.config.s3_secret_key | required "provide config.s3_secret_key key when running helm" | quote }}
  S3_REGION: {{ .Values.config.s3_region | required "provide a config.s3_region key when running helm " | quote }}
  {{- if .Values.config.s3_endpoint }}
  S3_ENDPOINT: {{ .Values.config.s3_endpoint | quote }}
  {{- end }}
{{- end }}
